do_not_delete_old_data/
just_in_case_py/
list_original_parameters_single_cell_pancancer.txt
results/
py_scripts/__pycache__/
trained_models/
.DS_Store
invalid_smiles.txt
data
.idea
check_cases.txt
list_best_parameters_pancancer.txt
loss_results_pancancer.txt
5K_results
delete.txt
smaller_dataset_results/
run.txt
new_results/
data_secondary/
old_results/
check_cases_single_cell.txt
jobs_resumed.pkl
jobs_to_resume.txt
just_in_case/
loss_results_single_cell_pancancer.txt
summary_results.csv
test.txt
*.log
check_cases_secondary_pancancer_ic50.txt
loss_results_secondary_pancancer_ic50.txt
summary_results_secondary_pancancer_ic50.csv
