check_results.py
data_gdsc/
new_results_gdsc/
correct_data.sh
create_finished.sh
finished.txt
old_data_secondary/
old_new_results/
py_scripts/correct_cases.py
loss*
summary*
do_not_delete_old_data/
just_in_case_py/
list_original_parameters_single_cell_pancancer.txt
results/
py_scripts/__pycache__/
trained_models/
.DS_Store
invalid_smiles.txt
data
.idea
check_cases.txt
list_best_parameters_pancancer.txt
loss_results_pancancer.txt
5K_results
delete.txt
smaller_dataset_results/
run.txt
new_results/
data_secondary/
old_results/
check_cases_single_cell.txt
jobs_resumed.pkl
jobs_to_resume.txt
just_in_case/
test.txt
*.log
check_cases*
